body{
       
        font-family: "Roboto","Helvetica Neue","Verdana","Tahoma",sans-serif;
        color: #434455;
        background-color: #ffffff;
}
a{
        text-decoration: none;
        font-style: normal;
        color: #2E2F42;
}
ul{
        list-style-type: none;
}
.mini-logo{
        color: #2E2F42;
}
.mini-logo-two{
        color: #f4f4fd;
}
.logo {
    font-family: "Raleway","Helvetica Neue","Verdana","Tahoma",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.navigation-list{
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.navigation-button:hover,
.navigation-button:focus{
        color: #404bbf;
}
.contact{
        color: #434455;
        font-style: normal;
}
.contact-email:hover,
.contact-email:active,
.contact-telephone:hover,
.contact-telephone:active{
        color: #404bbf;
}
.hero{
        background-color: #2E2F42;
        color: #ffffff;
}
.hero-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}
.hero-button{
        font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        background-color: #4D5AE5;
        color: #ffffff;      
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}
.advantages-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.advantages-text{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-team{
    background-color: #f4f4fd;
}
.first-team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}
.third-team-title{
        background-color: #ffffff;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.team-text{
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}


.first-portfolio-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}
.third-portfolio-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
.third-portfolio-text{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
.end-page{
        background-color: #2E2F42;
}
.end-page-text{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
